# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# Vector DB / RAG
vectordb/
*.faiss
*.pkl

# HuggingFace / Models
.cache/
models/
sentence-transformers/

# OS
.DS_Store
Thumbs.db
